schemata/ability.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:pf2="https://dylbrown.github.io"
           targetNamespace="https://dylbrown.github.io">
  <xs:include schemaLocation="weapon.xsd"/>
  <xs:complexType name="Ability">
    <xs:sequence>
      <xs:element name="Template" minOccurs="0" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            A template to start construction from.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Traits" minOccurs="0" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            A comma-separated list of traits ie. Flourish, Oath, Mental, etc.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Archetype" minOccurs="0" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            An archetype to which this feat belongs.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Prerequisites" minOccurs="0" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            A comma-separated list of prerequisite abilities such as Shield Block, Canny Acumen, etc.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrereqStrings" minOccurs="0" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            A comma-separated list of prerequisite names from GivesPrerequisites.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GivesPrerequisites" minOccurs="0" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            A comma-separated list of prerequisite names that you now meet.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Requires" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            A comma-separated list of requirements such as "Trained in Athletics", "Expert in Medicine", etc.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="((Trained|Expert|Master|Legendary) [iI]n \w+( \w+)?( \(\w+\))?|\w+ \d+)((, | or )?((Trained|Expert|Master|Legendary) [iI]n \w+( \w+)?( \(\w+\))?|\w+ \d+))*" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Trigger" minOccurs="0" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The trigger for an action if it is a free action or reaction.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Frequency" minOccurs="0" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            How often the associated action can be used
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Requirements" minOccurs="0" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            A requirement to use the associated action such as "wielding a two-handed weapon"
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" minOccurs="0" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Ability description.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AbilitySlot" type="pf2:AbilitySlot" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Weapon" type="pf2:Weapon" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CustomMod" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Allows for customized Javascript-based functionality.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:restriction base="xs:string">
              <xs:attribute name="recalculate">
                <xs:annotation>
                  <xs:documentation>
                    What should trigger recalculating this mod? Default is Never.
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="On Level"/>
                    <xs:enumeration value="Always"/>
                    <xs:enumeration value="Never"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:restriction>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Spellcasting" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="listName" use="required" type="xs:string" />
          <xs:attribute name="tradition">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="Arcane"/>
                <xs:enumeration value="Divine"/>
                <xs:enumeration value="Occult"/>
                <xs:enumeration value="Primal"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="type">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="Spontaneous"/>
                <xs:enumeration value="Prepared"/>
                <xs:enumeration value="FocusOnly"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="ability">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="(Str(ength)?|Dex(terity)?|Con(stitution)?|Int(elligence)?|Wis(dom)?|Cha(risma)?)" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="SpellsKnown" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="count" type="xs:positiveInteger" use="required"/>
          <xs:attribute name="level" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="traits" type="xs:string"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="SpellSlots" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="count" type="xs:positiveInteger" use="required"/>
          <xs:attribute name="level" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="traits" type="xs:string"/>
          <xs:attribute name="known">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="yes"/>
                <xs:enumeration value="no"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Spell" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="type" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="Spell"/>
                <xs:enumeration value="Cantrip"/>
                <xs:enumeration value="Focus"/>
                <xs:enumeration value="Focus Cantrip"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="AttributeMods" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            All attributes being increased to a particular proficiency.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:restriction base="pf2:attrmods">
                  <xs:pattern value="[^\w]*((Acrobatics|Arcana|Athletics|Crafting|Deception|Diplomacy|Intimidation|Lore ?\([^()]*\)|Medicine|Nature|Occultism|Performance|Religion|Society|Stealth|Survival|Thievery|Fortitude|Reflex|Will|Perception|Simple Weapons|Martial Weapons|Advanced Weapons|Unarmed|Light Armor|Medium Armor|Heavy Armor|Unarmored|Shields|(Arcane|Divine|Occult|Primal) Spell (Attacks|D[cC]s)|Class D[cC]( \(\w+\))?|None)(, ?| or ))*(Acrobatics|Arcana|Athletics|Crafting|Deception|Diplomacy|Intimidation|Lore ?\([^()]*\)|Medicine|Nature|Occultism|Performance|Religion|Society|Stealth|Survival|Thievery|Fortitude|Reflex|Will|Perception|Simple Weapons|Martial Weapons|Advanced Weapons|Unarmed|Light Armor|Medium Armor|Heavy Armor|Unarmored|Shields|(Arcane|Divine|Occult|Primal) Spell (Attacks|D[cC]s)|Class D[cC]( \(\w+\))?|None)[^\w]*"/>
            </xs:restriction>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Ability Name
        </xs:documentation>
      </xs:annotation>
      </xs:attribute>
    <xs:attribute name="page" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Reference Page for Ability
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="level" type="pf2:level">
      <xs:annotation>
        <xs:documentation>
          (Optional) Required level for ability
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="cost">
      <xs:annotation>
        <xs:documentation>
          (Optional) Cost to use ability in actions
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="One"/>
          <xs:enumeration value="Two"/>
          <xs:enumeration value="Three"/>
          <xs:enumeration value="Free"/>
          <xs:enumeration value="Reaction"/>
          <xs:enumeration value="1"/>
          <xs:enumeration value="2"/>
          <xs:enumeration value="3"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="type" type="pf2:level">
      <xs:annotation>
        <xs:documentation>
          (Optional) Denotes an attack, or labels an activity with no associated cost.
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Attack"/>
          <xs:enumeration value="Activity"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="multiple" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          If true, the ability can be chosen multiple times.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="skillIncrease" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          If true, the ability grants a skill increase when gained
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="abilityBoosts" type="xs:positiveInteger">
      <xs:annotation>
        <xs:documentation>
          Grants the given number of ability score increases.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AbilitySlot">
    <xs:sequence>
      <xs:element name="Description" minOccurs="0" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Ability description.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="Ability" type="pf2:Ability"/>
        <xs:element name="AbilitySet" type="pf2:AbilitySet"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="level" type="xs:positiveInteger">
      <xs:annotation>
        <xs:documentation>Used if slot is given by ability and it's level doesn't match the ability level</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="state" use="required">
      <xs:annotation>
        <xs:documentation>
          One of: filled, choice, feat
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="filled"/>
          <xs:enumeration value="choice"/>
          <xs:enumeration value="feat"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="type">
      <xs:annotation>
        <xs:documentation>
          Type of feats that can go into this slot
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="((Heritage|Ancestry|Class(\(\w+\))?|Skill|General|Bloodline|Arcane(Thesis|School)) ?)*(Feat)?"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Slot name
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="contents" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Feat that the slot grants when gained (needs type as well to know where to search)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="level">
    <xs:restriction base="xs:string">
      <xs:pattern value="([1-9]|1\d|20)\+?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AbilitySet">
    <xs:complexContent>
      <xs:extension base="pf2:Ability">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Ability" type="pf2:Ability"/>
            <xs:element name="AbilitySet" type="pf2:AbilitySet"/>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="attrmods">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Proficiency" use="required">
          <xs:annotation>
            <xs:documentation>
              Proficiency granted to the given attributes
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Trained"/>
              <xs:enumeration value="Expert"/>
              <xs:enumeration value="Master"/>
              <xs:enumeration value="Legendary"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="feats">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Ability" type="pf2:Ability" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="templates">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Ability" type="pf2:Ability" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>